# macOS Finder cache
.DS_Store

# Android Studio local files
*_android/**/.cxx/
*_android/**/.externalNativeBuild/
*_android/**/.gradle/
*_android/**/.idea/
*_android/**/.settings/
*_android/**/build/
*_android/**/local.properties
*_android/**/.classpath
*_android/**/.project
*_android/**/*.iml

# Xcode local files
*_ios/**/xcuserdata/
*_ios/**/build/
*_ios/**/export/

*_osx/**/xcuserdata/
*_osx/**/build/
*_osx/**/export/

# Unity local files
app_unity/Library/*
app_unity/Temp/*

# Visual Studio local files
app_unity/*.sln
app_unity/*.csproj
app_unity/.vs/*
app_unity/bin/*
app_unity/obj/*

EDITOR_CS_OSX/.vs/*
EDITOR_CS_OSX/bin/*
EDITOR_CS_OSX/obj/*

# VS Code local files
.vscode/

# the project's local files
app_unity/XCODEBUILD/*
BUILD/*
GENERATED_HEADERS/*
GENERATED_LUA/*
