<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="src.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".bootstrap.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".com.PermissionRequestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".components.activities.daily.DailyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".components.activities.doc.DocActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="apps.doc" />
            </intent-filter>
        </activity>

        <activity
            android:name=".components.activities.floating.FloatingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="apps.floating" />
            </intent-filter>
        </activity>

        <service android:name=".components.services.WorkService" android:process=":task">
        </service>

    </application>

</manifest>