<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="src.library">

    <application>

        <activity
            android:name="src.library.subsystem.SubsystemActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="libs.subsystem" />
            </intent-filter>
        </activity>

    </application>

</manifest>