<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>apps://daily</string>
		<key>controller</key>
		<string>DailyViewController</string>
		<key>style</key>
		<string>stack</string>
		<key>launch</key>
		<false/>
	</dict>
	<dict>
		<key>launch</key>
		<true/>
		<key>address</key>
		<string>apps://doc</string>
		<key>controller</key>
		<string>DocViewController</string>
		<key>style</key>
		<string>stack</string>
		<key>navigable</key>
		<false/>
	</dict>
	<dict>
		<key>address</key>
		<string>flot://float</string>
		<key>controller</key>
		<string>FloatViewController</string>
		<key>style</key>
		<string>float</string>
	</dict>
	<dict>
		<key>address</key>
		<string>apps://iap</string>
		<key>controller</key>
		<string>IAPDemoController</string>
		<key>style</key>
		<string>stack</string>
	</dict>
</array>
</plist>
