<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Address</key>
		<string>apps://blank</string>
		<key>Controller</key>
		<string>BlankViewController</string>
		<key>Style</key>
		<string>Stack</string>
		<key>Launch</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<string>apps://daily</string>
		<key>Controller</key>
		<string>DailyDemoController</string>
		<key>Style</key>
		<string>Stack</string>
		<key>Launch</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<string>apps://iap</string>
		<key>Controller</key>
		<string>IAPViewController</string>
		<key>Style</key>
		<string>Stack</string>
		<key>Launch</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<string>flot://float</string>
		<key>Controller</key>
		<string>FloatViewController</string>
		<key>Style</key>
		<string>Float</string>
		<key>Launch</key>
		<false/>
	</dict>
</array>
</plist>
